In [1]:
import pandas as pd

# Считайте датасет из файла train.csv
df = pd.read_csv('train.csv')

# Выведите основную информацию о датасете
print("Информация о датасете:")
print(df.info())
print("\nСтатистическая информация:")
print(df.describe())
print("\nКоличество пропусков по столбцам:")
print(df.isnull().sum())

Информация о датасете:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
None

Статистическая информация:
       PassengerId    Survived      Pclass         Age       SibSp  \
count   891.000000  891.000000  891.000000  714.000000  891.000000
mean    446.000000    0.383838    2.308642   29.699118    0.523008
std     257.353842    0.486592    0.836071   14.526497    1.102743
min       1.000000    0.000000    1.000000    0.420000    0.000000
25%     223.500000    0.000000    2.000000   20.125000    0.000000
50%     446.000000    0.000000    3.000000   28.000000    0.000000
75%     668.500000    1.000000    3.000000   38.000000    1.000000
max     891.000000    1.000000    3.000000   80.000000    8.000000

            Parch        Fare
count  891.000000  891.000000
mean     0.381594   32.204208
std      0.806057   49.693429
min      0.000000    0.000000
25%      0.000000    7.910400
50%      0.000000   14.454200
75%      0.000000   31.000000
max      6.000000  512.329200

Количество пропусков по столбцам:
PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [2]:
# Посчитайте процент выживаемости у каждого класса пассажиров (Pclass)
print("\nПроцент выживаемости по классам:")
survival_rate_by_class = df.groupby('Pclass')['Survived'].mean() * 100
print(survival_rate_by_class)

Процент выживаемости по классам:
Pclass
1    62.962963
2    47.282609
3    24.236253
Name: Survived, dtype: float64

In [3]:
# Функция для извлечения имени
def extract_first_name(full_name):
    # Для женских имен берем вторую часть после Mrs., Miss. и других
    if "Mrs." in full_name:
        return full_name.split("Mrs.")[1].split('(')[-1].split()[0]
    elif "Miss." in full_name:
        return full_name.split("Miss.")[1].split()[0]
    # Для мужских имен - часть после Mr.
    elif "Mr." in full_name:
        return full_name.split("Mr.")[1].split()[0]
    else:
        return full_name.split()[0]

df['First Name'] = df['Name'].apply(extract_first_name)

In [4]:
# Выведите самое популярное мужское и самое популярное женское имя на корабле
popular_male_name = df[df['Sex'] == 'male']['First Name'].mode()[0]
popular_female_name = df[df['Sex'] == 'female']['First Name'].mode()[0]
print("\nСамое популярное мужское имя:", popular_male_name)
print("Самое популярное женское имя:", popular_female_name)

Самое популярное мужское имя: William
Самое популярное женское имя: Anna

In [5]:
# Выведите самое популярное мужское и самое популярное женское имя в каждом классе
print("\nПопулярные имена по классам:")
for pclass in df['Pclass'].unique():
    male_name_class = df[(df['Sex'] == 'male') & (df['Pclass'] == pclass)]['First Name'].mode()[0]
    female_name_class = df[(df['Sex'] == 'female') & (df['Pclass'] == pclass)]['First Name'].mode()[0]
    print(f"Класс {pclass} - Мужское имя: {male_name_class}, Женское имя: {female_name_class}")

Популярные имена по классам:
Класс 3 - Мужское имя: William, Женское имя: Anna
Класс 1 - Мужское имя: William, Женское имя: Elizabeth
Класс 2 - Мужское имя: William, Женское имя: Elizabeth

In [6]:
# Выведите часть таблицы с пассажирами, возраст которых больше 44 лет
print("\nПассажиры старше 44 лет:")
print(df[df['Age'] > 44])

Пассажиры старше 44 лет:
     PassengerId  Survived  Pclass  \
6              7         0       1
11            12         1       1
15            16         1       2
33            34         0       2
52            53         1       1
..           ...       ...     ...
857          858         1       1
862          863         1       1
871          872         1       1
873          874         0       3
879          880         1       1

                                                  Name     Sex   Age  SibSp  \
6                              McCarthy, Mr. Timothy J    male  54.0      0
11                            Bonnell, Miss. Elizabeth  female  58.0      0
15                    Hewlett, Mrs. (Mary D Kingcome)   female  55.0      0
33                               Wheadon, Mr. Edward H    male  66.0      0
52            Harper, Mrs. Henry Sleeper (Myna Haxtun)  female  49.0      1
..                                                 ...     ...   ...    ...
857                             Daly, Mr. Peter Denis     male  51.0      0
862  Swift, Mrs. Frederick Joel (Margaret Welles Ba...  female  48.0      0
871   Beckwith, Mrs. Richard Leonard (Sallie Monypeny)  female  47.0      1
873                        Vander Cruyssen, Mr. Victor    male  47.0      0
879      Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)  female  56.0      0

     Parch      Ticket     Fare Cabin Embarked First Name
6        0       17463  51.8625   E46        S    Timothy
11       0      113783  26.5500  C103        S  Elizabeth
15       0      248706  16.0000   NaN        S       Mary
33       0  C.A. 24579  10.5000   NaN        S     Edward
52       0    PC 17572  76.7292   D33        C       Myna
..     ...         ...      ...   ...      ...        ...
857      0      113055  26.5500   E17        S      Peter
862      0       17466  25.9292   D17        S   Margaret
871      1       11751  52.5542   D35        S     Sallie
873      0      345765   9.0000   NaN        S     Victor
879      1       11767  83.1583   C50        C       Lily

[115 rows x 13 columns]

In [7]:
# Выведите часть таблицы с пассажирами, возраст которых меньше 44 лет и которые мужского пола
print("\nМужчины младше 44 лет:")
print(df[(df['Age'] < 44) & (df['Sex'] == 'male')])

Мужчины младше 44 лет:
     PassengerId  Survived  Pclass                            Name   Sex  \
0              1         0       3         Braund, Mr. Owen Harris  male
4              5         0       3        Allen, Mr. William Henry  male
7              8         0       3  Palsson, Master. Gosta Leonard  male
12            13         0       3  Saundercock, Mr. William Henry  male
13            14         0       3     Andersson, Mr. Anders Johan  male
..           ...       ...     ...                             ...   ...
883          884         0       2   Banfield, Mr. Frederick James  male
884          885         0       3          Sutehall, Mr. Henry Jr  male
886          887         0       2           Montvila, Rev. Juozas  male
889          890         1       1           Behr, Mr. Karl Howell  male
890          891         0       3             Dooley, Mr. Patrick  male

      Age  SibSp  Parch            Ticket    Fare Cabin Embarked First Name
0    22.0      1      0         A/5 21171   7.250   NaN        S       Owen
4    35.0      0      0            373450   8.050   NaN        S    William
7     2.0      3      1            349909  21.075   NaN        S   Palsson,
12   20.0      0      0         A/5. 2151   8.050   NaN        S    William
13   39.0      1      5            347082  31.275   NaN        S     Anders
..    ...    ...    ...               ...     ...   ...      ...        ...
883  28.0      0      0  C.A./SOTON 34068  10.500   NaN        S  Frederick
884  25.0      0      0   SOTON/OQ 392076   7.050   NaN        S      Henry
886  27.0      0      0            211536  13.000   NaN        S  Montvila,
889  26.0      0      0            111369  30.000  C148        C       Karl
890  32.0      0      0            370376   7.750   NaN        Q    Patrick

[368 rows x 13 columns]

In [8]:
# Выведите количества n-местных кабин (в которых было 2, 3, 4, ... человека)
df['Family Size'] = df['SibSp'] + df['Parch'] + 1
print("\nКоличество пассажиров в кабинах по числу мест:")
print(df['Family Size'].value_counts().sort_index())

Количество пассажиров в кабинах по числу мест:
Family Size
1     537
2     161
3     102
4      29
5      15
6      22
7      12
8       6
11      7
Name: count, dtype: int64